@"
# do NOT commit raw data
data/*.csv
!data/.gitkeep

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS/editor junk
.DS_Store
Thumbs.db
"@ | Set-Content .gitignore

# keep the data/ folder in git
New-Item data\.gitkeep -Type file -Force | Out-Null

